<div
  class="detailCard"
  *ngIf="card$ | async as card"
>
<!-- |es simbolo de pipe de (tuberia) la rta de card$ | async se almacena es card -->

  <div class ="spaceImg">
    <img  [src]="card.card_images[0].image_url" alt="carta yugioh">
  </div>

  <div class ="informationCard">
    <h2>{{card.name}}</h2>

    <div class="information">
      <p class="description">{{card.desc}}</p>
      <p class="description">Tipo: {{card.type}} - Subtipo: {{card.race}}</p>

    </div>

    <table class="table"> <!-- clase de bootstrap -->
      <thead>
        <tr>
            <th scope="col">Tienda</th>
            <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let market of card.card_prices[0] | keyvalue"> <!-- el keyvalue convierte un objeto en iterable (esto ayuda cuando no tenemos arrays y si un objeto) -->
          <th scope="row">{{market.key | marketName}}</th> <!-- uso un pipe (market-name.pipe.ts) para transformar el nombre de visualizacion de la propiedad key-->
          <td>{{market.value}}</td><!-- rda '|' es el operador pipe // se usa pipes para no transformar la variable sino solo lo que ve el usuario-->
      </tr>
      </tbody>
    </table>
  </div>

</div>
