<div
  class="detailCard"
  *ngIf="card$ | async as card"
>
<!-- |es simbolo de pipe de (tuberia) la rta de card$ | async se almacena es card -->

  <div class ="spaceImg">
    <img  [src]="card.card_images[0].image_url" alt="carta yugioh">
  </div>

  <div class ="informationCard">
    <h2>{{card.name}}</h2>

    <div class="information">
      <p class="description">{{card.desc}}</p>
      <p class="description">Tipo: {{card.type}} - Subtipo: {{card.race}}</p>

    </div>

    <table class="table"> <!-- clase de bootstrap -->
      <thead>
        <tr>
            <th scope="col">Tienda</th>
            <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Market 1</th> <!-- el keyvalue convierte un objeto en iterable -->
          <td>Price 1</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
