<div class="detailCard">

  <div class ="spaceImg">
    <img  src="https://images.ygoprodeck.com/images/cards/6983839.jpg" alt="carta yugioh">
  </div>

  <div class ="informationCard">
    <h2>Nombre de la Carta</h2>

    <div class="information">
      <p class="description">Descripcion</p>
      <h3 class="subtitle">Titulo</h3>
      <p class="description">Descripcion</p>
    </div>

    <table class="table"> <!-- clase de bootstrap -->
      <thead>
        <tr>
            <th scope="col">Tienda</th>
            <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Market 1</th>
          <td>Price 1</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
