.list{
 width: 90%;
 margin: auto;
//  margin-top: 2rem
}
.cards{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); //crea cuantas columnas puedas (auto-fill) siguiendo estas reglas (minmax(16rem, 1fr))
  //gap:0.5rem; //separacion entre columnas
  justify-items:center;
}
.form-control{
  margin-top: 5%;
}
